body {
  margin: 0;
  display: flex;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 1024px;
}

.left {
  width: 453px;
  height: 928px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.right {
  width: 755px;
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 247, 248);
  padding-top: 32px;
  padding-left: 16px;
}

.add-contact-button{
    background-color: rgb(42,54,71);
    color: white;
    width: 352px;
    height: 56px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 12px 0px 12px 0px;
    font-size: 21px;
}

.add-contact-button:hover{
  cursor: pointer;
  background-color: rgb(41,171,226);
}

.contacts-list{
    width: 453px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 24px 15px 24px;
}

.contact{
    display: flex;
    align-items: center;
    gap: 16px;
    width: 352px;
    height: 78px;
    border-radius: 5px;
    cursor: pointer;
    
}

.contact:hover{
    background-color: rgb(42,54,71);
    color: white;
}

.contact-name{
    display: flex;
    flex-direction: column;
}

.name-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
    gap: 10px;
    background-color: orange;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
}

.detail-headline {
  display: flex;
  gap: 16px;
  align-items: center;
}

.name{
  font-size: 47px;
}

.name-section{
    display: flex;
    align-items: center;
    gap: 24px;
}

.name-logo-detail{
    height: 24px;
    width: 24px;
    padding: 20px;
}

.contact-information p{
    margin-top: 16px;
    margin-bottom: 16px;
}

.edit-contact{
  display: flex;
  flex-direction: row;
}

.edit-contact button{
  display: flex;
  align-items: center;
  gap: 8px;
  height: 24px;
  background-color: transparent;
  border: none;
}

.edit-contact button:hover{
  cursor: pointer;
  color: rgb(41,171,226);
}

#overlay{
  position: absolute;
  z-index: 996;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.542);
  width: 100vw;
  height: 100vh;
  top: 0;
}

.add-contact-card{
  z-index: 9999;
  background-color: white;
  width: 1212px;
  height: 594px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
}

.add-contact-card-left{
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #2A3647;
  width: 467px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:  66px 48px 66px 48px;
}

.add-contact-card-right{
  width: 745px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.add-contact-inputs{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.add-contact-inputs input{
  width: 422px;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: 13px 21px 13px 21px;
  color: #D1D1D1;
}

.actions-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input-icon-name {
  background: url("/assets/img/icons/person.png") no-repeat right;
  background-size: 24px 24px;
  background-position-x: 420px;
}

.input-icon-mail {
  background: url("/assets/img/icons/mail.png") no-repeat right;
  background-size: 24px 24px;
  background-position-x: 420px
}

.input-icon-phone {
  background: url("/assets/img/icons/call.png") no-repeat right;
  background-size: 24px 24px;
  background-position-x: 420px
}

.cancel-button{
width: 126px;
height: 56px;
background-color: white;
border: 1px solid #2A3647;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: space-evenly;
font-size: 21px;
font-weight: 700;
}

.create-button{
  width: 214px;
  height: 57px;
  background-color:#2A3647;
  border-radius: 10px;
  color: white;
  display: flex;
align-items: center;
justify-content: space-evenly;
font-size: 21px;
font-weight: 700;
}

.add-contact-buttons{
  display: flex;
  flex-direction: row;
  gap: 24px;
}


