/* Header Container */
#header-container {
    width: 100%;
    height: 96px;
    background-color:white;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

#header-headline {
    color: rgb(74, 82, 89);
    padding-left: 250px;
    font-size: 20px;
    font-weight: 400;
}

#header-icons img {
    cursor: pointer;
}

#help-icon {
    width: 22px;
    height: 22px;
    padding-right: 15px;
    margin-bottom: 8px;
}

#login-icon {
    width: 40px;
    height: 40px;
    padding-right: 44px;
}

#dropdownMenu {
    display: none;
    position: absolute;
    right: 5px;
    top: 100%; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
    background-color:#2A3647;
    padding: 10px;
}

#dropdownMenu a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1000;
}

#dropdownMenu a:hover {
    background-color: #ddd;
}


/* Sidebar Container */
#sidebar-container {
    width: 232px;
    height: 100vh;
    background-color:#2A3647;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-family: 'Inter', sans-serif;
}


/* Sidebar Logo */
#sidebar-logo {
    width: 100px;
    height: 121.97px;
}


/* Sidebar Links */
#menu-section {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 200px;
    height: 46px;
}

#menu-section img {
    margin-right: 10px;
    padding-top: 8px;
}

#sidebar-container ul li {
    list-style-type: none;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    padding-top: 25px;
}

#sidebar-container ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-align: left;
    margin-top: 5px;
}


/* Sidebar Footer */
#sidebar-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 200px;
    height: 46px;
    text-decoration: none;
    color: white;
    padding-bottom: 80px;
}

#sidebar-footer a {
    color: #A8A8A8;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;

}

@media screen and (max-width: 1050px) {
    /* Sidebar-Container ausblenden */
    #sidebar-container {
        display: none;
    }

    /* Mobiles Men端-Container */
    #mobile-menu-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: #2A3647;
        box-shadow: 0 -4px 2px -2px rgba(0, 0, 0, 0.2);
        z-index: 100;
    }

    /* Stil f端r die mobilen Men端-Links */
    #mobile-menu-container a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        text-decoration: none;
    }

    /* Stil f端r die Icons */
    .menu-icon {
        width: 20px;
        height: 20px;
        padding-bottom: 12px;
    }
    .mobile-icons {
        width: 24px;
        height: 24px;
        margin-bottom: 5px;
    }

    .mobile-text {
        font-size: 14px;
        margin-top: 0;
        
    }

    .greeting-script p {
        display: none;
    }

    #header-headline {
        display: none;
    }

    #help-icon {
        display: none;
    }

    #mobile-logo {
        display: block;
        width: 32px;
        height: 39.02px;
        position: absolute;
        top: 10px;
        left: 10px;
        gap: 10;
    }

    
    
}